
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="assets/js/main.js"></script>

    <footer class="site-footer">
        <div class="contenedor">
            <div class="firma-footer">
                <h2 class="firma">Enzo Duré</h2>
                <p>Todos los derechos reservados ©2020</p>
                <p>Powered by Node.js</p>
            </div>
            <nav class="navegacion-footer">
                <div class="separador">
                    <a href="#">Blog</a>
                    <a href="#">Proyectos</a>
                    <a href="#">Galeria</a>
                </div>
                <div class="separador">
                    <a href="#">¿Quién soy?</a>
                    <a href="#">Contacto</a>
                </div>
            </nav>
            <nav class="mis-redes">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </nav>

    </footer>

</body>



</html>