<nav class="navegacion">
    <div class="separador header separador-inactivo">
        <a href="/blog">Blog</a>
        <a href="/certificados">Certificados</a>
        <a href="/proyectos">Proyectos</a>
    </div>
    <div class="separador header separador-inactivo">
        <a href="/galeria">Galeria</a>
        <a href="/about">¿Quién soy?</a>
        <a href="/contacto">Contacto</a>
    </div>
</nav>