<nav class="navegacion">
    <div class="separador header separador-inactivo">
        <a href="/blog">Blog</a>
        <a href="/proyectos">Proyectos</a>
        <a href="/galeria">Galeria</a>
    </div>
    <div class="separador header separador-inactivo">
        <a href="#">¿Quién soy?</a>
        <a href="/contacto">Contacto</a>
        <div class="tarjet">
            
        </div>
    </div>
</nav>