<div class="site-header {{ claseIndex }}">
    <div class="contenedor">
        <div class="contenedor-presentacion">
            <header class="barra-header contenedor">
                <a href="/">
                    <h2 class="firma firma-header">Enzo Duré</h2>
                </a>
                <div class="menu-movil"><i class="fas fa-bars "></i></div>
                <div class="secciones"></div>
                {{> nav }}
            </header>
        </div>
    </div>
</div>