{{> head }}


{{> siteHeader }}

<main class="contenedor contenedor-pagina-sec">
    <h1 class="subtitulos">Sobre mi</h1>
    <div class="tarjeta">
        <div class="clearfix">
            <p class="texto float-left ajustar-ancho">Soy Enzo Duré, un técnico en informática y estudiante de
                ingeniería de 21 años
                de edad.
                Desde que tengo memoria me sentí atraído por el mundo de la informática. En mi pre-adolescencia teníamos
                un ordenador familiar en el cual pasaba muchas horas al día. Siempre que este ordenador o algun celular
                de alguien cercano presentaba un inconveniente me gustaba investigar y tratar de resolverlos por mi
                cuenta, y para satisfacción mía, lo conseguía bastante seguido. Así fue como fui creciendo y a la par
                que seguía cursos de reparación de celulares y computadoras me metí al bachiller técnico en informática,
                del cual salí mejor egresado de mi promoción y junto con mis compañeros terminamos desarrollando un
                pequeño juego didáctico en Android usando App Inventor.<br><br>
                Durante el bachiller, mi materia favorita era la algoritmia, supongo que por esa
                razón no me
                costó entender la lógica básica de la programación. También recuerdo que dimos HTML puro, realmente en
                ese
                momento me sentí espantado por la Web y lo tedioso que era ir abriendo y cerrando etiquetas cada vez que
                quería hacer algo. Cabe resaltar que esto lo hacíamos directo desde el notepad del Windows. Además que
                en
                ese momento, por iognorancia tal vez, pensaba que la Web no serviría para hacer grandes cosas</p>
            <div class="imagen-about float-right">
                <img src="/assets/img/sobre-mi/yo-2016.jpg" alt="">
            </div>
        </div>

        <div class="clearfix">
            <p class="texto float-right ajustar-ancho clearfix">Así fue como no dudé en aprovechar la beca que me dieron
                en el
                colegio y me metí de lleno a
                estudiar Ingeniería informática en una universidad privada, a la par que realizaba trabajos de
                mantenimiento
                y reparación de ordenadores y celulares de forma particular<br><br>
                Pero mi única fuente de enseñanza no era la universidad, también
                seguía cursos
                de modalidad
                online que el SNPP ponía a disposición cada tanto, no eran los mejores pero algo terminaba aprendiendo
                <br><br>Llevé ese ritmo por un par de años, pero ya sentía la necesidad
                de trabajar y
                comprarme mis
                cosas ya que en ese entonces tenía un dinosaurio de ordenador. ¿Recuerdan que les dije que en mi
                pre-adolescencia teníamos un ordenador? Bueno, era el mismo que tenía a estas alturas, sólo que con
                fuente
                nueva. En su época era más que decente pero en ese entonces ya tenía lag hasta para abir el buscaminas.
                Me servía para realizar ciertas tareas de la universidad (con mucha paciencia, eso sí) pero hasata
                ahí<br><br>

                <div class="imagen-about float-left margin-top">
                    <img src="/assets/img/sobre-mi/dino-pc.jpg" alt="">
                </div>
        </div>


        <div class="clearfix">
            <p class="texto float-left ajustar-ancho">
                Sabía que necesitaba montarme algo decente si quería cumplir el sueño de algún día desarrollar mis
                propias aplicaciones ya sean de escritorio o móviles (recordemos que aún seguía con el espanto de la Web
                gracias a el primer contacto que tuve con ella en secundaria) así que empecé a enviar mi currículum por
                doquier
                <br><br>
                Recuerdo que en mis primeras entrevistas era un saco de nervios, fue así como poco a poco en
                cada experiencia me iba soltando más hasta que conseguí mi primer trabajo como Técnico de Soporte en una
                empresa que además está ubicada relativamente cerca de mi universidad, así que me vino como anillo al
                dedo
                <br><br>
                Admito que cuando arreglaba ordenadores gracias a ver videos en YouTube o leer foros de ayuda
                me sentía todo un pro. Pero al tener mi primera experiencia laboral formal dentro de una empresa me di
                cuenta que tenía muchísimo camino que recorrer como Soporte. Gracias a la ayuda de los dos compañeros
                excelentes que tuve y que no dudaron en transmitirme todos sus conocimientos, pude sobrellevar mejor
                todo el
                camino que me esperaba.</p>
            <div class="imagen-about float-right">
                <img src="/assets/img/sobre-mi/camino.jpg" alt="">
            </div>
        </div>
        <p class="texto">
                Pasó el tiempo hasta que por fin pude hacer evolucionar a mi dinosaurio, por fin tenía un
                ordenador en cual pueda hacer más que abrir y editar documentos. Lástima que en ese entonces lo usaba
                más para jugar que para otra cosa</p>
        <div class="clearfix">
                <p class="texto float-right ajustar-ancho">
                Estuve varios meses en esa zona de confort, tenía un trabajo estable en el cual ya me
                desempeñaba de una manera ejemplar a la par que estudiaba y me pasaba haciendo tareas aburridas de la
                universidad, pensaba que era la manera en la que ese sueño lejano que tenía de ser un gran desarrollador
                se
                cumpliría.
                <br><br>
                No recuerdo cuándo fue que me di cuenta que lo que de verdad quería no se cumpliría si no hacía
                algo más. Así que motivado por un canal de YouTube llamado Programación ATS y la excelente manera de
                explicar de Alejandro Taboada (QEPD) me decidí comprar su curso de Java en Udemy. Probablemente una de
                las
                mejores decisiones de mi vida.</p>
            <div class="imagen-about">
                <img class="margin-top" src="/assets/img/sobre-mi/ataboada.jpg" alt="">
            </div>
        </div>
        <p class="texto">Y realmente no digo eso porque me haya hecho un experto en Java, de hecho habré completado el
            33% del curso o algo así, sino que me hizo ver que hay mucho aprendizaje más allá de los métodos
            tradicionales. Muchas veces la universidad se me hacia súper tediosa y no lo digo porque no esté de acuerdo
            con los métodos de enseñanza tradicionales (que también podría ser en parte), sino porque en realidad tuve
            demasiados profesores mediocres, que no transmitían para nada esa pasíon y esa confianza que sí lo hacian
            muchos instructores en línea. Obviamente hay excepciones, pero tenía por primera vez la ventaja de elegir a
            quien sienta que me transmita esa confianza y esa motivación para aprender, y disfrutaba muchísimo
            apreniendo</p>
        
        <div class="clearfix">
            <p class="texto float-left ajustar-ancho">Como les mencioné, no llegué a terminar el curso de Java, era un lenguaje que no me convencía
            del todo, no me sentía realmente cómodo programando en el. De hecho esta cierta incomodidad en los lenguajes
            se me seguiría presentando más adelante al punto en que llegué a estar muy indeciso en qué es lo que quería
            aprender para alcanzar mis metas.
            <br><br>
            Fue entonces que Udemy, como de costumbre lanzó una de esas "Rebajas únicas y exclusivas que no
            se volverán a dar nunca en la vida y tienes 48 horas para aprovecharlas", sí, esas mismas que tiene como
            semana de pormedio (¿Será que alguna vez alguien compró un curso en Udemy al precio "Real"?). Como sea, en
            esas rebajas me saltaba un curso completo de Desarrollo Web, el cual incluía Html, Css, Js, JQuery, MySQL y
            PHP. Ver todas esas tecnologías en una sola llamó poderosamente mi atención, así que vi los proyectos que
            aprendería allí y todo ese rechazo que le tenía al desarrollo Web pareciera que simplemente se esfumó. Al
            ver las posibilidades y la libertad que te daba la Web para hacer casi lo que sea terminé comprando el curso
            y lo hacía en cada tiempo libre que tenía.</p>
            <div class="imagen-about">
                <img class="margin-top" src="/assets/img/sobre-mi/oferton.jpg" alt="">
            </div>
        </div>

        <div class="clearfix">
            <p class="texto ajustar-ancho float-right">Todo fue muy bonito, empecé aprendiendo el front-end y me sentí muy bien al saber que el HTML
            que había aprendido años atrás en realidad era muy primitivo. Para ese entonces ya todo era más organizado,
            y css me parecía simplemente maravilloso. JavaScript en el Front sí que me costó un poco más, no la lógica
            en sí sino comprender el DOM y los selectores en general hacía que me pierda un poco pero era sobrellevable
            y me gustaba ir aprendiendo todo eso.
            <br><br>
            Lo lindo se terminó para mí cuando empezamos a dar PHP, como ya se habrán dado cuenta a estas
            alturas me gustaba tener un código ordenado y legible, y el hecho de ir abriendo y cerrando etiquetas de php
            al 2x3 dentro del html se me hacía bastante tedioso (evidentemente no tenía idea de la existencia de
            frameworks php ni el uso de PHP con MVC pero ni aún así creo que me hubiese sentido cómodo). Así que fui
            dejando cada vez más de lado el curso por esa desmotivación que me generaba ese lenguaje</p>
            <div class="imagen-about">
                <img class="margin-top" src="/assets/img/sobre-mi/php-html.png" alt="">
            </div>
        </div>

        <p class="texto">Tampoco iba a resignarme a ser un desarrollador front-end. Tomé un curso de Adobe XD para
            maquetar mis diseños antes de ir a escribir código pero tampoco es que el diseño ni la creatividad sean mi
            fuerte así que definitivamente no era el camino que quería seguir. Pensaba y sigo sosteniendo que mi
            verdadero potencial está en el back-end</p>
        <p class="texto">Antes de decidir qué camino de back-end seguir llegué a la conclusión de que todos mis estudios
            y mi preparación no iban a servir de mucho si es que no me ponía manos a la obra con un proyecto real. Había
            tenido mi primera entrevista para un puesto de programador Jr y una de las cosas que me preguntaron es si
            había desarrollado alguna vez un proyecto real, fue ahí cuando me di cuenta de la importancia que esto tenía
        </p>
        <p class="texto">Cuando esa entrevista pasó se dió la coincidencia de que empezó la pandemia y por ende, la
            cuarentena obligatoria. En mi trabajo me dieron la posibilidad de trabajar remotamente y supe que tenía una
            oportunidad única de dar un gran salto en vista a cumplir mi gran sueño, así que una de las primeras cosas
            que hice fue comprarme un host, dominio, abrir el adobe xd y ponerme a maquetar un blog-portafolios que
            podría mostrar con orgullo a cualquier persona interesada</p>
        <p class="texto">Me gustó mucho el diseño final, de hecho logré plasmarlo en HTML y CSS y ya tenía una bonita
            página estática que poner en mi host y mostrar con orgullo a gente cercana a mí</p>
        <div class="imagen-about ancho-maximo centro">
            <img class="margin-top" src="/assets/img/sobre-mi/pasion.jpg" alt="">
        </div>

        <p class="texto">Pero me faltaba un pequeño gran detalle: El Backend. Me puse a analizar muchas opciones. Lo
            lindo del desarrollo es que puedes elegir entre una cantidad inmensa de tecnologías y el hecho de que aún me
            costaba JavaScript en el front-end y descubrir que también era un lenguaje que se podía usar del lado del
            servidor con Node.Js hizo que me fuera por esta opción y así intentar matar dos pájaros de un tiro</p>
        
        <div class="clearfix">
            <p class="texto ajustar-ancho float-left">Creo que no pude elegir una mejor opción, me sentí increíblemente a gusto utilizando Node,
                realicé un curso de 20 horas (que entre las prácticas y mi costumbre de tratar de entender cada detalle
                fácilmente se habrán extendido a las 50 horas), logré terminarlo en dos semanas lo que fue muy satisfactorio
                para mí, además de rebote aprendí el uso básico de MongoDB, y empecé de lleno a implementar ambas
                tecnologías en mi página web
                <br><br>
                En todo este trayecto también fui aprendiendo otras cosas como SQL Server, Git; y gracias a la
                universidad algo de .Net core con C#, Spring Framework con Java, programación en Android Studio con Java,
                C++, C. Así que no todas son cosas malas de la universidad :P</p>
            <div class="imagen-about">
                <img class="" src="/assets/img/sobre-mi/node.jpg" alt="">
            </div>
        </div>
        <p class="texto">También pienso que cabe destacar que yo no me cierro a un sólo lenguaje de programación, al
            contrario una vez que pueda dominar bien JavaScript me gustaría volver a echar un vistazo a los lenguajes
            que mencioné, aunque sea sólo para ver el potencial que tienen. Sólo que era muy selectivo con el primer
            lenguaje que quisiera usar en proyectos reales</p>
        <p class="texto">En fin, ese fue mi pequeña mini-biografía y lo que tuve que pasar para plasmar esta pagína Web.
            Detrás hay varias horas de esfuerzo, tal vez días o semanas. Sé que con acabar este proyecto no he cumplido
            aún mi gran sueño pero sin lugar a dudas es un paso gigantesco el que estoy dando, y si te tomaste la
            molestia de leer todo esto te lo agradezco. Igual me convierto en escritor y dejo de lado la programación xD
        </p>
        <p class="texto">Para terminar, no quiero dejar de agradecer a todas las personas que me formaron tanto en lo
            académico como en lo personal. Le debo todo lo que soy a mi familia, mis conocimientos se lo debo a mis
            buenos profesores, mis amigos, a Mitxel y una mención honorífica a mi novia quien siempre me apoyó y se tuvo
            que aguantar que la deje de lado por estar horas persiguiendo este objetivo. Muchas gracias :)</p>

    </div>
</main>

{{> foot}}