{{> head }}


{{> siteHeader }}

<main class="contenedor contenedor-pagina-sec">
    <h1 class="subtitulos">Mi Blog</h1>
    <article class="tarjeta" id="contenedor-blog-unico clearfix">
        
        {{ listarArticulo articuloDB }}

    </article>
    <!-- Tarjeta Blog -->
</main>

{{> foot}}