{{> head }}


{{> siteHeader }}

<main class="contenedor contenedor-pagina-sec">
    <h1 class="subtitulos">Mi Blog</h1>
    <div class="tarjeta grilla-3-3" id="contenedor-blog">
        {{ listarBlogs blogDB }}
        

    </div>
    <!-- Tarjeta Blog -->
</main>

{{> foot}}