{{> head }}


{{> siteHeader }}

<main class="contenedor contenedor-pagina-sec">
    <h1 class="subtitulos">Mi Blog</h1>
    <div class="tarjeta grilla-3-3">
        <article class="entrada">
            <div class="imagen-entrada blog">
            </div>
            <div class="contenido">
                <h3 class="subtitulos">Titulo de blog</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                </p>
                <a href="#">Leer más...</a>
            </div>
        </article>
        <article class="entrada">
            <div class="imagen-entrada blog">
            </div>
            <div class="contenido">
                <h3 class="subtitulos">Titulo de blog</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                </p>
                <a href="#">Leer más...</a>
            </div>
        </article>
        <article class="entrada">
            <div class="imagen-entrada blog">
            </div>
            <div class="contenido">
                <h3 class="subtitulos">Titulo de blog</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                </p>
                <a href="#">Leer más...</a>
            </div>
        </article>
        <article class="entrada">
            <div class="imagen-entrada blog">
            </div>
            <div class="contenido">
                <h3 class="subtitulos">Titulo de blog</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                </p>
                <a href="#">Leer más...</a>
            </div>
        </article>
        <article class="entrada">
            <div class="imagen-entrada blog">
            </div>
            <div class="contenido">
                <h3 class="subtitulos">Titulo de blog</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                </p>
                <a href="#">Leer más...</a>
            </div>
        </article>
        <article class="entrada">
            <div class="imagen-entrada blog">
            </div>
            <div class="contenido">
                <h3 class="subtitulos">Titulo de blog</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                </p>
                <a href="#">Leer más...</a>
            </div>
        </article>
        <article class="entrada">
            <div class="imagen-entrada blog">
            </div>
            <div class="contenido">
                <h3 class="subtitulos">Titulo de blog</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                </p>
                <a href="#">Leer más...</a>
            </div>
        </article>
        <article class="entrada">
            <div class="imagen-entrada blog">
            </div>
            <div class="contenido">
                <h3 class="subtitulos">Titulo de blog</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                </p>
                <a href="#">Leer más...</a>
            </div>
        </article>
        <article class="entrada">
            <div class="imagen-entrada blog">
            </div>
            <div class="contenido">
                <h3 class="subtitulos">Titulo de blog</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                </p>
                <a href="#">Leer más...</a>
            </div>
        </article>

    </div>
    <!-- Tarjeta Blog -->
</main>

{{> foot}}