{{> head }}


{{> siteHeader }}

<main class="contenedor contenedor-pagina-sec">
    <h1 class="subtitulos">Últimos Certificados</h1>
    <div class="tarjeta grilla-3-3" id="contenedor-certificados">
        {{ listarCertificados certificadoDB }}

    </div>
    <!-- Tarjeta Blog -->
</main>

{{> foot}}