{{> head }}


{{> siteHeader }}

<main class="contenedor contenedor-pagina-sec">
    <h1 class="subtitulos">Galería</h1>
    <div class="tarjeta grilla-3-3">
        {{ listarFotos fotosDB }}
    </div>
    <!-- Tarjeta Blog -->
</main>

{{> foot}}