{{> head }}


{{> siteHeader }}

<main class="contenedor contenedor-pagina-sec">
    <h1 class="subtitulos">Galería</h1>
    <div class="tarjeta grilla-3-3">
        <div class="entrada">
            <div class="imagen-entrada">
                <img src="assets/img/cena.jpg" alt="">
            </div>
            <div class="contenido fotos">
                <p>"A cenar!"
                </p>
                <a href="#">Ver foto completa en instagram</a>
            </div>
        </div>
        <div class="entrada">
            <div class="imagen-entrada">
                <img src="assets/img/cena.jpg" alt="">
            </div>
            <div class="contenido fotos">
                <p>"A cenar!"
                </p>
                <a href="#">Ver foto completa en instagram</a>
            </div>
        </div>
        <div class="entrada">
            <div class="imagen-entrada">
                <img src="assets/img/cena.jpg" alt="">
            </div>
            <div class="contenido fotos">
                <p>"A cenar!"
                </p>
                <a href="#">Ver foto completa en instagram</a>
            </div>
        </div>
        <div class="entrada">
            <div class="imagen-entrada">
                <img src="assets/img/cena.jpg" alt="">
            </div>
            <div class="contenido fotos">
                <p>"A cenar!"
                </p>
                <a href="#">Ver foto completa en instagram</a>
            </div>
        </div>
        <div class="entrada">
            <div class="imagen-entrada">
                <img src="assets/img/cena.jpg" alt="">
            </div>
            <div class="contenido fotos">
                <p>"A cenar!"
                </p>
                <a href="#">Ver foto completa en instagram</a>
            </div>
        </div>
        <div class="entrada">
            <div class="imagen-entrada">
                <img src="assets/img/cena.jpg" alt="">
            </div>
            <div class="contenido fotos">
                <p>"A cenar!"
                </p>
                <a href="#">Ver foto completa en instagram</a>
            </div>
        </div>

    </div>
    <!-- Tarjeta Blog -->
</main>

{{> foot}}