{{> head }}


{{> siteHeader }}

<main class="contenedor contenedor-pagina-sec">
    <h1 class="subtitulos">Mi Galeria</h1>
    <div class="tarjeta grilla-3-3">
            <div class="entrada">
                <div class="contenido fotos">
                    <div class="imagen-entrada fotos img-borde">
                    </div>
                    <p>"A cenar!"
                    </p>
                    <a href="#">Ver foto completa en instagram</a>
                </div>
            </div>
            <div class="entrada">
                <div class="contenido fotos">
                    <div class="imagen-entrada fotos img-borde">
                    </div>
                    <p>"A cenar!"
                    </p>
                    <a href="#">Ver foto completa en instagram</a>
                </div>
            </div>
            <div class="entrada">
                <div class="contenido fotos">
                    <div class="imagen-entrada fotos img-borde">
                    </div>
                    <p>"A cenar!"
                    </p>
                    <a href="#">Ver foto completa en instagram</a>
                </div>
            </div>
            <div class="entrada">
                <div class="contenido fotos">
                    <div class="imagen-entrada fotos img-borde">
                    </div>
                    <p>"A cenar!"
                    </p>
                    <a href="#">Ver foto completa en instagram</a>
                </div>
            </div>
            <div class="entrada">
                <div class="contenido fotos">
                    <div class="imagen-entrada fotos img-borde">
                    </div>
                    <p>"A cenar!"
                    </p>
                    <a href="#">Ver foto completa en instagram</a>
                </div>
            </div>
            <div class="entrada">
                <div class="contenido fotos">
                    <div class="imagen-entrada fotos img-borde">
                    </div>
                    <p>"A cenar!"
                    </p>
                    <a href="#">Ver foto completa en instagram</a>
                </div>
            </div>
    </div>
    <!-- Tarjeta Blog -->
</main>

{{> foot}}