{{> head }}


{{> siteHeader }}

<main class="contenedor contenedor-pagina-sec">
    <h1 class="subtitulos">Galería</h1>
    <div class="tarjeta grilla-3-3">
        <div class="entrada">
            <div class="imagen-entrada img-borde">
                <img src="assets/img/cena.jpg" alt="">
            </div>
            <div class="contenido fotos">
                <p>"A cenar!"
                </p>
                <a href="https://www.instagram.com/p/B7bkocXgR_9/" target="_blank">Ver foto completa en instagram</a>
            </div>
        </div>
        <div class="entrada">
            <i class="subtitulos"><h3>
                Esta página se encuentra en construcción. A la espera de que facebook vuelva a liberar la api de instagram para particulares. Mientras tanto puedes mirar mi Instagram de fotos
            </h3></i>
            <a href="https://www.instagram.com/esno23/" class="boton" target="_blank">Ver Instagram</a>
        </div>
        

    </div>
    <!-- Tarjeta Blog -->
</main>

{{> foot}}