{{> head }}
<div class="parallax">
    {{> siteHeader}}
</div>
<!-- contenedor -->
</div>
<!-- .parallax -->
<main class="contenedor grilla-columna-2fr-1fr fila-2fr-1fr">
    <div class="tarjeta blog">
        <h2 class="subtitulos">Mi Blog</h2>
        {{ listarBlogsEnIndex blogDB }}
        <a href="/blog"class="centro boton">Ver todos</a>   

    </div>
    <!-- Tarjeta Blog -->
    <div class="tarjeta proyectos">
        <h2 class="subtitulos">Útimos Proyectos</h2>
        
        {{listarProyectosEnIndex proyectoDB}}
        <a href="/proyectos"class="centro boton">Ver todos</a>
        
    </div>
    <!-- Tarjeta Proyectos -->
    <div class="tarjeta certificados">
        <h2 class="subtitulos">Últimas Certificaciones</h2>
        <ul class="lista-certificados">
            {{ listarCertificadosEnIndex certificadoDB }}
        </ul>
        <a href="/certificados"class="centro boton">Ver todos</a>         
    </div>
    <div class="tarjeta fotos">
        <h2 class="subtitulos">Últimas Fotos</h2>
        {{ listarFotosEnIndex fotosDB }}
        <a href="/galeria"class="centro boton">Ver Galería</a>
    </div>
</main>


{{> foot}}