{{> head }}
<div class="parallax">
    {{> siteHeader}}
</div>
<!-- contenedor -->
</div>
<!-- .parallax -->
<main class="contenedor grilla-columna-2fr-1fr fila-2fr-1fr">
    <div class="tarjeta blog">
        <h2 class="subtitulos">Mi Blog</h2>
        {{ listarBlogsEnIndex blogDB }}
        <a href="/blog"class="centro boton">Ver todos</a>   

    </div>
    <!-- Tarjeta Blog -->
    <div class="tarjeta proyectos">
        <h2 class="subtitulos">Útimos Proyectos</h2>
        
        {{listarProyectosEnIndex proyectoDB}}
        <a href="/proyectos"class="centro boton">Ver todos</a>
        
    </div>
    <!-- Tarjeta Proyectos -->
    <div class="tarjeta certificados">
        <h2 class="subtitulos">Últimas Certificaciones</h2>
        <ul class="lista-certificados">
            {{ listarCertificadosEnIndex certificadoDB }}
        </ul>
        <a href="/certificados"class="centro boton">Ver todos</a>         
    </div>
    <div class="tarjeta fotos">
        <h2 class="subtitulos">Últimas Fotos</h2>
        <div class="entrada">
            <div class="imagen-entrada fotos">
                <img src="assets/img/cena.jpg" alt="">
            </div>
            <div class="contenido fotos">
                <p>"A cenar!"
                </p>
                <a href="https://www.instagram.com/p/B7bkocXgR_9/ target="_blank"">Ver foto completa en instagram</a>
            </div>
        </div>
        <div class="entrada">
            <i class="subtitulos"><h4>
                Esta Sección se encuentra en construcción. A la espera de que facebook vuelva a liberar la api de instagram para particulares. Mientras tanto puedes mirar mi Instagram de fotos
            </h4></i>
            <a href="https://www.instagram.com/esno23/" class="boton" target="_blank">Ver Instagram</a>
        </div>
        
    </div>
</main>


{{> foot}}