{{> head }}
<div class="parallax">
    {{> siteHeader}}
</div>
<!-- contenedor -->
</div>
<!-- .parallax -->
<main class="contenedor grilla-columna-2fr-1fr fila-2fr-1fr">
    <div class="tarjeta blog">
        <h2 class="subtitulos">Mi Blog</h2>
        <article class="entrada">
            <div class="imagen-entrada blog">
                <img src="assets/img/blog1.jpg" alt="">
            </div>
            <div class="contenido">
                <h3 class="subtitulos">Titulo de blog</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                </p>
                <a href="#">Leer más...</a>
            </div>
        </article>
        <article class="entrada">
            <div class="imagen-entrada blog">
                <img src="assets/img/blog1.jpg" alt="">
            </div>
            <div class="contenido">
                <h3 class="subtitulos">Titulo de blog</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                </p>
                <a href="#">Leer más...</a>
            </div>
        </article>
        <article class="entrada">
            <div class="imagen-entrada blog">
                <img src="assets/img/blog1.jpg" alt="">
            </div>
            <div class="contenido">
                <h3 class="subtitulos">Titulo de blog</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                </p>
                <a href="#">Leer más...</a>
            </div>
        </article>
        <article class="entrada">
            <div class="imagen-entrada blog">
                <img src="assets/img/blog1.jpg" alt="">
            </div>
            <div class="contenido">
                <h3 class="subtitulos">Titulo de blog</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                </p>
                <a href="#">Leer más...</a>
            </div>
        </article>
        

    </div>
    <!-- Tarjeta Blog -->
    <div class="tarjeta proyectos">
        <h2 class="subtitulos">Útimos Proyectos</h2>
        <div class="entrada">
            <div class="contenido">
                <h3 class="subtitulos">Blog de café</h3>
                <div class="imagen-entrada">
                <img src="assets/img/blog-de-cafe.png" alt="">
            </div>
                <p>Un blog donde utilizo conocimientos en css y html para un Blog de café
                </p>
                <a href="#">Ver más del proyecto...</a>
            </div>
        </div>
        <div class="entrada">
            <div class="contenido">
                <h3 class="subtitulos">Blog de café</h3>
                <div class="imagen-entrada">
                <img src="assets/img/blog-de-cafe.png" alt="">
            </div>
                <p>Un blog donde utilizo conocimientos en css y html para un Blog de café
                </p>
                <a href="#">Ver más del proyecto...</a>
            </div>
        </div>
        
    </div>
    <!-- Tarjeta Proyectos -->
    <div class="tarjeta certificados">
        <h2 class="subtitulos">Últimas Certificaciones</h2>
        <ul class="lista-certificados">
            <li>
                <a href="#">
                    <h4 class="subtitulos">Master SQL</h4>
                </a>
            </li>
            <li>
                <a href="#">
                    <h4 class="subtitulos">Master Net Core</h4>
                </a>
            </li>
            <li>
                <a href="#">
                    <h4 class="subtitulos">Desarrollo Web avanzado</h4>
                </a>
            </li>
        </ul>
    </div>
    <div class="tarjeta fotos">
        <h2 class="subtitulos">Últimas Fotos</h2>
        <div class="entrada">
            <div class="imagen-entrada fotos">
                <img src="assets/img/cena.jpg" alt="">
            </div>
            <div class="contenido fotos">
                <p>"A cenar!"
                </p>
                <a href="#">Ver foto completa en instagram</a>
            </div>
        </div>
        <div class="entrada">
            <div class="imagen-entrada fotos">
                <img src="assets/img/cena.jpg" alt="">
            </div>
            <div class="contenido fotos">
                <p>"A cenar!"
                </p>
                <a href="#">Ver foto completa en instagram</a>
            </div>
        </div>
        
    </div>
</main>


{{> foot}}