{{> head }}


{{> siteHeader }}

<main class="contenedor contenedor-pagina-sec">
    <h1 class="subtitulos">Proyectos</h1>
    <div class="tarjeta" id="contenedor-proyectos">
        {{ listarProyectos proyectoDB }}

    </div>
    </div>
    <!-- Tarjeta Blog -->
</main>

{{> foot}}