{{> head }}


{{> siteHeader }}

<main class="contenedor contenedor-pagina-sec">
    <h1 class="subtitulos">Proyectos</h1>
    <div class="tarjeta grilla-3-3">
        <div class="entrada">
            <div class="contenido">
                <h3 class="subtitulos">Blog de café</h3>
                <div class="imagen-entrada">
                    <img src="assets/img/blog-de-cafe.png" alt="">
                </div>
                <p>Un blog donde utilizo conocimientos en css y html para un Blog de café
                </p>
                <a href="#">Ver más del proyecto...</a>
            </div>
        </div>
        <div class="entrada">
            <div class="contenido">
                <h3 class="subtitulos">Blog de café</h3>
                <div class="imagen-entrada">
                    <img src="assets/img/blog-de-cafe.png" alt="">
                </div>
                <p>Un blog donde utilizo conocimientos en css y html para un Blog de café
                </p>
                <a href="#">Ver más del proyecto...</a>
            </div>
        </div>
        <div class="entrada">
            <div class="contenido">
                <h3 class="subtitulos">Blog de café</h3>
                <div class="imagen-entrada">
                    <img src="assets/img/blog-de-cafe.png" alt="">
                </div>
                <p>Un blog donde utilizo conocimientos en css y html para un Blog de café
                </p>
                <a href="#">Ver más del proyecto...</a>
            </div>
        </div>
        <div class="entrada">
            <div class="contenido">
                <h3 class="subtitulos">Blog de café</h3>
                <div class="imagen-entrada">
                    <img src="assets/img/blog-de-cafe.png" alt="">
                </div>
                <p>Un blog donde utilizo conocimientos en css y html para un Blog de café
                </p>
                <a href="#">Ver más del proyecto...</a>
            </div>
        </div>
        <div class="entrada">
            <div class="contenido">
                <h3 class="subtitulos">Blog de café</h3>
                <div class="imagen-entrada">
                    <img src="assets/img/blog-de-cafe.png" alt="">
                </div>
                <p>Un blog donde utilizo conocimientos en css y html para un Blog de café
                </p>
                <a href="#">Ver más del proyecto...</a>
            </div>
        </div>
        <div class="entrada">
            <div class="contenido">
                <h3 class="subtitulos">Blog de café</h3>
                <div class="imagen-entrada">
                    <img src="assets/img/blog-de-cafe.png" alt="">
                </div>
                <p>Un blog donde utilizo conocimientos en css y html para un Blog de café
                </p>
                <a href="#">Ver más del proyecto...</a>
            </div>
        </div>

    </div>
    </div>
    <!-- Tarjeta Blog -->
</main>

{{> foot}}