{{> head }}


{{> siteHeader }}

<main class="contenedor contenedor-pagina-sec">
    <h1 class="subtitulos">Proyectos</h1>
    <div class="tarjeta" id="contenedor-proyectos">
        {{ listarProyectos proyectoDB }}
        <a href="https://github.com/enzod98" class="boton centro">Ver repositorio completo</a>

    </div>
    </div>
    <!-- Tarjeta Blog -->
</main>

{{> foot}}